@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
}
header{
    background-image: linear-gradient( to right ,#9a3732, #ff866b);
    text-align: center;
    width: 100%;
    min-width: 300px;

}
h1{
    font-style: italic;
}
h2{
    text-align: center;
}
p{
    font-family: 'Roboto';

}

.div-01 > p {
    background-color: #031726;
    color: #00e9ff;
    width: 300px;
    margin: auto;
}
.div-01 > p:active{
    background-color: red;
}
.div-02 > p {
    background-color: #9a3732;
    color: #00e9ff;
    width: 300px;
    margin: auto;
}
.div-02 > p:active{
    background-color: blue;
}