*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img.webp) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.div-principal{
    height: 500px;
    width: 500px;
    margin: auto;
    position: relative;
    top: 10%;
    box-shadow: 1px 1px 4px black;
}
.div-login{
    display: flex;
    flex-direction: column;
    width: 320px;
    position: absolute;
    left: 18%;
    top: 40%;
}
.div-login > input{
    border: 1px solid white ;
    box-shadow: 1px 1px 5px ;
    outline: none;
    margin: 10px;
    padding: 10px;
    background: transparent;
    border-radius: 5px;
}
.div-login >input::placeholder{
    color: #ffcd4a;
}
